body {
    background-color: #FFF1D7;
    margin: 0;
    background-image: url(../img/bg.png);   
    background-repeat: no-repeat;
    header{
        h1{
            font-size: 128px;
            color: #FFDE9E;
            font-family: 'Inspiration';
            margin: 0;
            text-align: center;
            font-weight: 400;
            padding-top: 7px;
            line-height: 1;
    }
    }
    main{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 290px;
        margin-bottom: 100px; 
        .cookieJar {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            img{
                width: 200px;
            }
        }
        .game {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 35px;
            height: 391px;
            .imgCookie {
                height: 298px;
            }
            .btn{
                width: 276px;
                height: 69px;
                border-radius: 10px;
                border: 3px solid #5A2012;
                background-color: #F7B758;
                font-family: 'Irish Grover';
                text-transform:uppercase;
                font-weight: 300;
                letter-spacing: 5px;
                font-size: 32px;
                transition: 0.2s;
                cursor: pointer;
                    &:hover{
                    transform: scale(1.05);
                    }
            }
            .timer {
                font-size: 64px;
                color: #5A2012;
                font-family: 'Irish Grover';
                text-align: center;
                margin: 0;
            }
            
        }
        .statistics {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: 'Irish Grover';
            font-weight: 700;
            letter-spacing: 5px;
            font-size: 32px;
            text-align: center;
            margin-right: 50px;
            p {
                margin-bottom: 0;
            }
        }
    }
}
